{% extends '::base.html.twig' %}

{% block headers %}
    <title>{% block title %}{% block subtitle '' %} &ndash; Flinders API{% endblock %}</title>
    <meta name="description" content="{% block description '' %}">
{% endblock headers %}

{% block body %}
    <div class="container">
        {% block content '' %}
    </div>
{% endblock %}
